body{
    height: 100vh;
    background: linear-gradient(rgba(112, 221, 251, 0.681),rgb(245, 190, 228));
    background-repeat: repeat-y;
 
}
.name{
    font-size: 25px;
}
.nameround{
    border-radius: 30px;
    height: 30px;
    border: 2px solid black;
}
.dept{
    font-size: 25px;
}
.deptround{
    border-radius: 30px;
    height: 30px;
    border: 2px solid black;

}
.rating{
    font-size: 25px;
}
.rateround{
    border-radius: 30px;
    height: 30px;
    border: 2px solid black;

}
.submit{
    border-radius: 30px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
    background-color: rgb(153, 221, 242);
    font-size: 25px;
}
.hr{
    height: 2px;
    background-color:black;
    width: 827px;
}
.details{
    margin-left: 170px;
    margin-top: 23px;
    margin-bottom: 89px;
    width: 80%;
    border: 3px solid black;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.details-entered{
    width: 45%;
    text-align: center;
    background-color: pink;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 34px;
    margin-bottom: 3%;
    font-size: 10px;
    border-radius: 30px;
    padding:2px;

}
